.container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}

.produkt {
    border: none;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px;
    height: 600px;
}

.produkt:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.produkt img {
    max-width: 100%;
}

.produkt h2 {
    font-size: 15px;
    margin: 10px 0;

}

.produkt p {
    margin: 7px 0;
}

.cijena {
    font-size: 25px;
    color: black;
    font-weight: bold;
}

.promo {
    background-color: yellow;
    padding: 10px;
    display: inline-block;
    margin-top: 10px;
    border: none;
}

.kolicina {
    color: rgb(37, 237, 37);
    font-weight: 600;
    padding: 5px;
    margin-top: 10px;
}

@media (min-width: 600px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 900px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}